.accordion{
	border-bottom: 1px solid #373737;

	.ac-header{
		padding: 25px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.ac-caption{
		font-size: 16px;
		line-height: 1.1;
		color: var(--text-color);
		font-weight: bold;
		cursor: pointer;
	}

	.ac-opener{
		display: block;
		flex: none;
		width: 13px;
		height: 6px;
		background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 6'%3E%3Cpath d='m6.5 6 5.63-6H.87L6.5 6Z' fill='%23373737'/%3E%3C/svg%3E") no-repeat center center / contain;
		cursor: pointer;
		transition: all var(--t);
	}

	&.opened{
		.ac-opener{
			transform: rotate(-180deg);
		}
	}

	.ac-content{
		display: none;
		padding-bottom: 32px;
	}
}