.breadcrumbs{
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	line-height: 1.1;
	color: #8F8F8F;

	li{
		margin-right: 12px;

		&:empty{
			display: none !important;
		}

		&:after{
			content: '';
			display: inline-block;
			width: 6px;
			height: 10px;
			margin-left: 12px;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 10'%3E%3Cpath d='M1 1.08 4.72 4.8 1 9' stroke='%238F8F8F'/%3E%3C/svg%3E") no-repeat center center / contain;
		}

		a{
			color: inherit;

			&:hover,
			&:focus{
				color: var(--primary);
			}
		}

		&:last-child{
			margin-right: 0 !important;
			margin-left: 0 !important;

			a{
				pointer-events: none;
			}

			&:after{
				display: none;
			}
		}

		html[dir="rtl"] &{
			margin-right: 0;
			margin-left: 12px;

			&:after{
				margin-left: 0;
				margin-right: 12px;
				transform: scaleX(-1);
			}
		}
	}
}