.btn{
	--btn-bg: transparent;
	--btn-hover-bg: var(--text-color);
	--btn-color: #fff;

	text-align: center;
	padding: 10px 44px;
	min-height: 49px;

	border: 1px solid #fff;
	border-radius: 0;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	transition: all var(--t);
	cursor: pointer;
	appearance: none;
	white-space: nowrap;

	background: var(--btn-bg);
	color: var(--btn-color);

	position: relative;

	font-family: var(--main-font);
	font-size: 16px;
	line-height: 1.1;
	font-weight: 700;

	@media screen and (max-width: 575px){
		font-size: 13px;
		padding: 10px 15px;
		min-height: 37px;
	}

	&:hover,
	&:focus{
		outline: none;
		// background: #fff;
		// border: 1px solid #fff;

		transform: scale(1.025);
	}

	&.btn-dark{
		background: var(--text-color);
		border-color: var(--text-color);

		&:hover,
		&:focus{
			// color: var(--text-color);
			// border-color: var(--text-color);
		}
	}
}