.about-section{
	padding: 25px 0;

	.section-inner{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
		align-items: start;
	}

	.section-image{
		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}