.categories-section{
	padding: 27px 0 22px;
}

.categories-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;

	.wide{
		grid-column: 1 / -1;
	}
}

.category-card{
	position: relative;
	color: #fff;
	text-align: center;

	.card-bg{
		position: relative;

		&:before{
			content: '';
			display: block;
			padding-top: 85.895%;
		}

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: cover;
			object-position: center center;
		}
	}

	&.wide{
		.card-bg{
			&:before{
				padding-top: 220px;
			}
		}
	}

	.card-content{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		padding: 50px 38px;
		text-align: center;

		.btn{
			min-width: 178px;
		}
	}

	.card-caption{
		font-size: 21px;
		line-height: 1.1;
		margin-bottom: 21px;
		font-weight: bold;

		&.white{
			color: #fff;
			font-weight: 400;
		}
	}

	.card-text{
		font-size: 15px;
		line-height: 1.5;
		margin-bottom: 27px;
	}

	.card-badge{
		position: absolute;
		right: 87px;
		top: 28px;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		background: #fff;
		transform: rotate(-15.47deg);
		z-index: 3;
		font-size: 18px;
		font-weight: bold;
		color: #c00;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;

		&:before{
			content: '';
			display: block;
			width: calc(100% + 4px * 2);
			height: calc(100% + 4px * 2);
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
			background: rgba(#fff, .5);
			border-radius: 50%;
		}
	}

	&.with-text{
		.card-content{
			justify-content: center;
		}
	}
}

.category-slider-card{
	.products-slider{
		max-width: 351px;
		margin-left: auto;
		margin-right: auto;

		.slick-arrow{
			top: 170px;
		}
	}
}