.page-first-screen-section{
	padding: 38px 0 25px;

	@media screen and (max-width: 767px){
		padding-top: 0;
	}

	.section-image{
		position: relative;
		
		&:before{
			content: '';
			display: block;
			padding-top: 23.43%;

			@media screen and (max-width: 767px){
				padding-top: 40%;
			}
		}
		
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: cover;
			object-position: center center;
		}
	}

	.section-map{
		position: relative;
		
		&:before{
			content: '';
			display: block;
			padding-top: 29.5%;

			@media screen and (max-width: 767px){
				padding-top: 280px;
			}
		}
		
		iframe{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: cover;
			object-position: center center;
		}
	}

	@media screen and (max-width: 575px){
		.section-image,
		.section-map{
			width: calc(100% + 15px * 2);
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}

.default-section-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #EBEBEB;
	padding: 25px 0;

	.section-caption{
		margin-bottom: 0;

		.sc-title{
			text-align: start;
		}
	}

	@media screen and (max-width: 575px){
		flex-direction: column-reverse;
		align-items: stretch;

		.breadcrumbs{
			margin-bottom: 10px;
		}
	}
}