.header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	background: #fff;
	transition: transform var(--t);

	.header-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% + 20px * 2);
		margin-left: -20px;
		margin-right: -20px;
		
		.header-block{
			padding: 0 20px;
		}
	}

	.header-row{
		&.first{
			background: #121212;
			padding: 12px 0;
			color: #fff;
			line-height: 1.23;
			direction: ltr;

			@media screen and (max-width: 767px){
				&.white{
					background: #fff;
					color: var(--text-color);
				}
			}

			.header-block{
				&:first-child,
				&:last-child{
					min-width: 60px;
				}
			}
		}

		&.second{
			direction: ltr;
			padding-top: 24px;
		}

		@media screen and (max-width: 991px){
			&.first{
				position: relative;
				z-index: 2;
				padding: 10px 0;
			}

			&.second{
				padding-bottom: 24px;
				transition: all var(--t);
			}
		}

		@media screen and (max-width: 767px){
			&.first{
				.header-block{
					position: relative;

					&:first-child{
						min-width: 87px;
					}
				}

				.shop-nav{
					min-width: unset;
				}
			}

			&.second{
				padding: 14px 0;

				.header-inner{
					justify-content: center;
				}
			}
		}
	}

	.lang-link{
		color: inherit;
		display: block;

		@media screen and (min-width: 992px){
			transform: translateX(-25px);
		}

		&:hover,
		&:focus{
			text-decoration: underline;
		}
	}

	@media screen and (max-width: 767px){
		.lang-link{
			position: absolute;
			right: 20px;
			top: 0;
			opacity: 0;
			pointer-events: none;
		}

		.shop-nav{
			transition: all var(--t);
		}

		&.nav-opened{
			.lang-link{
				opacity: 1;
				pointer-events: auto;
			}

			.shop-nav{
				opacity: 0;
				pointer-events: none;
			}
		}
	}

	.delivery-text{
		html[dir="rtl"] &{
			direction: rtl;
		}
	}

	@media screen and (min-width: 992px){
		&.sticky{
			transform: translateY(calc(-40px - 90px));
		}
	}

	@media screen and (max-width: 991px){
		pointer-events: none;
		background: transparent;

		.header-row{
			pointer-events: auto;

			&.second{
				background: #fff;
			}
		}

		&.sticky{
			.header-row{
				&.second{
					transform: translateY(-100%);
				}
			}
		}
	}
}

.header-search-form{
	html[dir="rtl"] &{
		direction: rtl;
	}

	form{
		position: relative;
	}

	.search-field{
		width: 175px;
		appearance: none;
		border: 0;
		box-shadow: none;
		border-radius: 0;
		border-bottom: 1px solid #D1D1D1;
		transition: all var(--t);
		height: 29px;
		font-size: inherit;

		&:hover,
		&:focus{
			border-bottom-color: #373737;
			outline: none;
		}

		&::placeholder{
			color: var(--text-light);
		}

		@media screen and (max-width: 767px){
			font-size: 16px;
			height: 32px;
		}
	}

	.search-button{
		display: block;
		width: 11px;
		height: 11px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cpath d='M4.62 7.92a3.52 3.52 0 1 0 0-7.04 3.52 3.52 0 0 0 0 7.04Z' stroke='%236B6B6B' stroke-width='.48' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M7.1 7.09 10 10.01' stroke='%236B6B6B' stroke-width='.96' stroke-miterlimit='10'/%3E%3C/svg%3E") no-repeat center center / contain;
		cursor: pointer;

		html[dir="rtl"] &{
			right: auto;
			left: 0;
		}
	}
}

.logo-block{
	display: block;

	img{
		height: 66px;
		width: auto;
		display: block;
	}

	@media screen and (max-width: 991px){
		img{
			height: 50px;
		}
	}

	@media screen and (max-width: 767px){
		img{
			height: 76px;
		}
	}
}

.shop-nav{
	direction: ltr;
	display: flex;
	min-width: 175px;
	justify-content: flex-end;

	li{
		margin-right: 30px;

		&:last-child{
			margin-right: 0;
		}

		a{
			display: block;
			color: inherit;
			position: relative;

			&:hover,
			&:focus{
				color: var(--text-dark);
			}

			.link-icon{
				display: block;
				width: 20px;
				height: 20px;
				fill: currentcolor;
			}

			.link-count{
				position: absolute;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				text-align: center;
				background: #c00;
				font-size: 12px;
				line-height: 1.25;
				color: #fff;
				left: 13px;
				bottom: 15px;
				z-index: 2;
			}
		}
	}

	@media screen and (max-width: 767px){
		min-width: unset;

		li{
			margin-right: 15px;

			a{
				.link-icon{
					width: 16px;
					height: 16px;
				}

				.link-count{
					left: 9px;
					bottom: 9px;
				}
			}
		}
	}
}

.top-nav{
	> ul{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #EBEBEB;

		> li{
			padding: 0 10px;

			> a{
				color: #616161;
				display: block;
				padding: 20px 0;
				position: relative;
				font-size: 14px;
				line-height: 16px;

				&:after{
					content: '';
					display: block;
					width: 0;
					height: 1px;
					background: currentColor;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: -1px;
					opacity: 0;
					transition: all var(--t);
				}

				&:hover,
				&:focus{
					color: var(--text-color);

					&:after{
						opacity: 1;
						width: 100%;
					}
				}
			}

			&.current-menu-item,
			&.current-menu-parent{
				> a{
					color: var(--text-color);

					&:after{
						opacity: 1;
						width: 100%;
					}
				}
			}
			
			&.current-menu-item{
				> a{
					cursor: default;
				}
			}

			&.menu-item-has-children{
				position: relative;

				&:hover,
				&:focus-within{
					.sub-menu{
						transform: translateY(0);
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}
				}
			}
		}
	}

	.sub-menu{
		background: #fff;
		position: absolute;
		padding: 22px 0;
		font-size: 14px;
		line-height: 1.5;
		color: #616161;
		box-shadow: 0px 8px 37px rgba(0, 0, 0, 0.15);
		transition: all var(--t);
		position: absolute;
		left: 0;
		top: 100%;
		transform: translateY(30px);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		width: 210px;

		html[dir="rtl"] &{
			left: auto;
			right: 0;
		}

		> li{
			> a{
				color: inherit;
				display: block;
				padding: 0.5em 26px;

				&:hover,
				&:focus{
					color: var(--text-color);
				}
			}
		}
	}
}

.mobile-top-nav{
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	background: #fff;
	height: calc(100vh - 40px);
	overflow-y: auto;
	overscroll-behavior-y: contain;
	z-index: 20;
	pointer-events: none;
	transition: all var(--t);
	transform: translateY(30px);
	visibility: hidden;
	opacity: 0;

	&.opened{
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	@media screen and (min-width: 992px){
		display: none;
	}

	.nav-inner{
		padding: 15px 0;
	}

	.header-search-form{
		width: 100%;
		margin-bottom: 35px;

		form,
		.search-field{
			width: 100%;
		}
	}
}

.mobile-nav{
	font-size: 14px;
	line-height: 1.5;

	> li{
		margin-bottom: 20px;
		position: relative;

		> a{
			color: #616161;
		}

		&.current-menu-item,
		&.current-menu-parent{
			> a{
				color: var(--text-color);
				text-decoration: underline;
			}
		}
		
		&.current-menu-item{
			> a{
				cursor: default;
			}
		}

		&.menu-item-has-children{
			padding-right: 30px;

			&:after{
				content: '';
				display: block;
				width: 14px;
				height: 8px;
				background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8'%3E%3Cpath d='m1 1 5.86 6L13 1' stroke='%23616161'/%3E%3C/svg%3E") no-repeat center center / contain;
				position: absolute;
				top: calc(1.5em / 2 - 8px / 2);
				right: 0;
				transition: all var(--t);
			}

			&.opened{
				&:after{
					transform: rotate(-180deg);
				}
			}

			html[dir="rtl"] &{
				padding-left: 30px;
				padding-right: 0;

				&:after{
					right: auto;
					left: 0;
				}
			}
		}
	}

	.sub-menu{
		display: none;
		font-size: 0;
		margin-top: 20px;

		li{
			display: inline-block;
			width: 33.333%;
			margin-bottom: 19px;

			@media screen and (max-width: 767px){
				width: 50%;
			}

			a{
				display: block;
				font-size: 14px;
				line-height: 16px;
				padding: 0 6px;
				font-size: 14px;
				color: var(--text-light);
				border-left: 1px solid currentColor;
				margin: 0 10px;

				html[dir="rtl"] &{
					border-left: 0;
					border-right: 1px solid currentColor;
				}
			}

			&.current-menu-item,
			&.current-menu-parent{
				> a{
					color: var(--text-color);
					text-decoration: underline;
				}
			}
			
			&.current-menu-item{
				> a{
					cursor: default;
				}
			}
		}
	}
}